# Ignore everything
*

# Except for these files
!App.js
!index.js
!package.json
!package-lock.json
!app.json
!screens/
!__tests__/
!*/sql/*
!bin/*
!api/*
!camcrew/*
camcrew/__pycache__
!setup.py
!README.md
